html, body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 160px;
    background: linear-gradient(
            180deg,
            rgba(230, 96, 96, 1) 15%,
            rgba(232, 211, 107, 1) 100%
    );
}
