*{
    font-family:"Bahnschrift SemiBold";
}
html, body {
    margin: 0;
    padding: 0;
}

header {
    color:white;
    width: 100%;
    height: 160px;
    /*background: linear-gradient(
            180deg,
            rgba(230, 96, 96, 1) 15%,
            rgba(232, 211, 107, 1) 100%
    );*/
    /*background-color:rgb(242,99,10);*/
    background-color:rgb(122,43,43);
}

/*body{
    background-image:url("indexBackground.png");

}*/

#indexInfo{
    padding:2.5%;
    margin:auto;
    margin-top:2%;
    margin-bottom:2%;
    background-color:rgb(214,205,195);
    border:rgb(122,43,43) dashed  2px;
    border-radius: 1%;
    width:60%;
    color:rgb(122,43,43);
    box-shadow:10px 10px rgb(59,58,58);

}

#indexInfo > h1,h2{
    color:rgb(59,58,58);
}

#BEGIN{
    background-color:rgb(232,228,223);
    margin-left:30%;
    padding:5%  10%;
    font-size:250%;
    cursor:pointer;
    border:solid rgb(232,228,223) 2px;
    border-radius:5%;
    color:rgb(59,58,58);
    box-shadow:10px 10px;
}

#BEGIN > p{
    color:rgb(59,58,58);
}

#BEGIN:hover{
    background-color:rgb(122,43,43);
    border:rgb(122,43,43);
    color:cornsilk;
}

/*from https://www.w3schools.com/css/css3_buttons.asp*/
#BEGIN:active{
    transform: translateY(4px)
}